<p><strong>
        Szegedi Tudományegyetem I. sz. Belgyógyászati Klinika
    </strong><br />
    6725, Szeged, Kálvária sgt. 57.<br />
    <font color="#8aacb8">Tel:</font> +36-62-545187<br />
    <font color="#8aacb8">Fax:</font> +36-62-545185<br />
    <font color="#8aacb8">e-mail:</font> <a
        href="mailto:czako.laszlo@med.u-szeged.hu"><u>czako.laszlo@med.u-szeged.hu</u></a><br />
    <font color="#8aacb8">website:</font> <a href="http://www.med.u-szeged.hu/"><u>www.szote.u-szeged.hu/in1st/</u></a>
</p>
<p><strong>Magánrendelés</strong><br>
    <font color="#8aacb8">Tel:</font> +36-62-558888, +36-30-4451-368<br />
</p>