        <div class="cell large-6 small-12">
              <a class="example-image-link th" href="{{root}}assets/img/training1.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward."><img class="example-image thumbnail" src="{{root}}assets/img/training1_small.jpg" alt=""/></a>

      </div>
      <div class="cell large-6 small-12">
      <a class="example-image-link" href="{{root}}assets/img/training2.jpg" data-lightbox="example-set" data-title="Or press the right arrow on your keyboard."><img class="example-image thumbnail" src="{{root}}assets/img/training2_small.jpg" alt="" /></a>
      </div>
<!--       <div class="cell large-4 small-12">
      <a class="example-image-link" href="{{root}}assets/img/training2.jpg" data-lightbox="example-set" data-title="The next image in the set is preloaded as you're viewing."><img class="example-image thumbnail" src="{{root}}assets/img/training2_small.jpg" alt="" /></a> -->