<div class="data-sticky-container" data-sticky-container>
	<div class="top-bar show-for-large" data-sticky data-options="marginTop:0;" style="width:100%" data-top-anchor="1">
		<style>
		.top {
			padding-top: 8px;
		}
		</style>
		<div class="top-bar-left" >
			<ul class="dropdown menu" data-dropdown-menu>
				{{> menu_hu}}
			</ul>
		</div>

		<div class="top-bar-right">
			<li><a href="{{root}}elerhetoseg.html"><img src="{{root}}assets/img/flag_hu.png"></a>&emsp;<a href="{{root}}contact.html"><img src="{{root}}assets/img/flag_eng.png">&ensp;</a></li>

		</div>
	</div>

<div class="top-bar show-for-medium-only" data-sticky data-options="marginTop:0;" style="width:100%" data-top-anchor="1">
	<style>
	.top {
		padding-top: 8px;
	}
	</style>
	<div class="top-bar-left" >
		<ul class="dropdown menu" data-dropdown-menu>
			{{> menu_hu}}
		</ul>
	</div>

	<div class="top-bar-right">
		<li><a href="{{root}}elerhetoseg.html"><img src="{{root}}assets/img/flag_hu.png"></a>&emsp;<a href="{{root}}contact.html"><img src="{{root}}assets/img/flag_eng.png">&ensp;</a></li>

	</div>
</div>


	{{> header_small_elerhetoseg}}




