<div class="data-sticky-container" data-sticky-container>
	<div class="top-bar show-for-large" data-sticky data-options="marginTop:0;" style="width:100%" data-top-anchor="1">
		<style>
		.top {
			padding-top: 8px;
		}
		</style>
		<div class="top-bar-left" >
			<ul class="dropdown menu" data-dropdown-menu>
				<li class="menu-text"><font color="#45565c"><strong>Dr. med. habil. Czakó László, Ph.D.</strong><br />gastroenterologyst, diabetologist</font></li>
				<li class="top"><a href="{{root}}index_eng.html"><strong>Contact</strong></a></li>
				<li class="top"><a href="{{root}}curriculum.html"><strong>Curriculum</strong></a></li>
				<li class="top"><a href="{{root}}publications.html"><strong>Publications</strong></a></li>
				<li class="top"><a href="{{root}}photos.html"><strong>Photos</strong></a></li>
			</ul>
  		</div>

	 <div class="top-bar-right">
	      <li><a href="{{root}}index.html"><img src="{{root}}assets/img/flag_hu.png"></a>&emsp;<a href="{{root}}index_eng.html"><img src="{{root}}assets/img/flag_eng.png">&ensp;</a></li>

	  </div>
	</div>

	{{> header_small_eng}}


</div>
</div>


