    <!-- START Top Bar small -->
    <div class="data-sticky-container hide-for-large" data-sticky-container>
      <div class="sticky" data-sticky data-sticky-on="small" data-options="marginTop:0;" style="width:100%">
        <div class="title-bar" data-responsive-toggle="example-animated-menu" data-hide-for="medium">
          <div class="clearfix">
            <button class="menu-icon float-left" type="button" data-toggle></button>
            <div class="title-bar-title float-left"><strong>
              &ensp;Menu</strong>
              </div>
              <div class="title-bar-title float-right"><a href="{{root}}index.html"><font color="white"><strong><img src="{{root}}assets/img/logo_white.jpg">
                Cimoldal&ensp;</strong></font></a>
              </div>


          </div>
        </div>

        <div class="top-bar" id="example-animated-menu" data-animate="hinge-in-from-top hinge-out-from-top">
          <div class="top-bar-left">
            <ul class="vertical dropdown menu hide-for-large" data-magellan>
              {{> menu_eng}}
            </ul>
          </div>
        </div>
    </div>
</div>
{{> header_small_title_eng}}




        <!-- END Top Bar small -->