<!-- START Top Bar small -->
<div class="data-sticky-container hide-for-large" data-sticky-container>
  <div class="sticky" data-sticky data-sticky-on="small" data-options="marginTop:0;" style="width:100%">
    <div class="mobile-nav-bar title-bar" data-responsive-toggle="example-animated-menu" data-hide-for="medium">
      <div class="title-bar-left">
        <button class="menu-icon" type="button" data-toggle></button>&ensp;Menü
      </div>
      <div class="title-bar-right">
        <a href="{{root}}elerhetoseg.html"><img src="{{root}}assets/img/flag_hu_mobil.png"></a>&emsp;<a href="{{root}}contact.html"><img src="{{root}}assets/img/flag_eng_mobil.png">&ensp;</a>

      </div>
    </div>

  <div class="top-bar" id="example-animated-menu" data-animate="hinge-in-from-top hinge-out-from-top">
    <div class="top-bar-left">
      <ul class="vertical dropdown menu hide-for-large text-center" data-magellan>
        {{> menu_hu}}
      </ul>
    </div>
  </div>

  </div>
</div>
{{> header_small_title_hu}}













<!-- END Top Bar small -->