<li class="menu-text hide-for-medium-only"><font color="#45565C"><strong>Dr. med. habil. Czakó László, Ph.D.</strong><br />gasztroenterológus, diabetológus</font></li>
<li class="top"><a href="{{root}}index.html"><strong>Elérhetőség</strong></a></li>
<li class="top"><a href="{{root}}oneletrajz.html"><strong>Önéletrajz</strong></a></li>
<li class="top"><a href="{{root}}publikaciok.html"><strong>Publikációk</strong></a></li>
<li class="top"><a href="{{root}}fotok.html"><strong>Fotók</strong></a></li>